.case {
  height: 500px;
  border: 5px solid #3e3e3e;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.caseTop {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #2b2b2b;
  border-bottom: 2px solid #3e3e3e;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
}

.caseTitle {
  font-size: 1.2rem;
}

.caseTop button:hover {
  transform: scale(1.1);
}

.caseBottom {
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: transform 3s ease;
}

.caseBottom.opening {
  transform: translateY(-100%);
}

.item {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  margin: 10px;
  border: 2px solid #3e3e3e;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.item:hover {
  transform: scale(1.1);
}

.item.selected {
  border: 5px solid #ffd700;
}
